node_modules/

#directories with results (big size)
crowd-counting/
re-identification/
stabilization-input/
stabilization-results/
structure-from-motion/
images/crowd_net_.png
images/reid_net_.png
images/banner_1.jpg
images/banner_2.jpg
images/banner_3.jpg
images/blend_example.jpg
